@page "/logout" 
@inject CustomAuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation

<h2>Are you sure you want to logout?</h2>
<p>You'll need to log in again to access your account.</p>

<!-- Logout button -->
<button class="logout-button" @onclick="HandleLogout">Log Out</button>

<!-- Cancel logout button -->
<button class="cancel-button" @onclick="CancelLogout">Cancel</button>

@code {
    /// <summary>
    /// Flag to track the state of the logout process.
    /// </summary>
    private bool isLoggingOut = false;

    /// <summary>
    /// Handles the logout process by marking the user as logged out
    /// and redirecting them to the login page.
    /// </summary>
    /// <returns>Asynchronous task representing the logout process.</returns>
    private async Task HandleLogout()
    {
        isLoggingOut = true;  // Indicate that the logout process is ongoing
        await AuthProvider.MarkUserAsLoggedOut();  // Marks the user as logged out in the authentication state provider
        Navigation.NavigateTo("/login", true);  // Redirects the user to the login page
    }

    /// <summary>
    /// Cancels the logout process and redirects the user back to the home page.
    /// </summary>
    private void CancelLogout()
    {
        Navigation.NavigateTo("/", true);  // Redirects the user to the home page
    }
}

<style>
    h2 {
        font-size: 40px; /* Increase size */
        margin-top: 30px; /* Increase space from top */
        margin-bottom: 40px; /* Increase space between h2 and p */
        background: linear-gradient(90deg, #022f76, #048bde); /* Gradient color */
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .logout-button {
        background-color: red;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 8px;
        margin-right: 10px;
    }

    .logout-button:hover {
        background-color: darkred;
    }

    .cancel-button {
        background-color: grey;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 8px;
    }

    .cancel-button:hover {
        background-color: darkgrey;
    }
</style>
