@page "/logout"
@inject CustomAuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation


<h2>Come back soon!</h2>
<p>Are you sure you want to logout?</p>

<button class="logout-button" @onclick="HandleLogout">Log Out</button>
<button class="cancel-button" @onclick="CancelLogout">Cancel</button>

@code {
    private bool isLoggingOut = false;

    private async Task HandleLogout()
    {
        isLoggingOut = true;
        await AuthProvider.MarkUserAsLoggedOut();
        Navigation.NavigateTo("/login", true);
    }

    private void CancelLogout()
    {
        Navigation.NavigateTo("/", true);
    }
}

<style>
    h2 {
        font-size: 28px;
        margin-top: 20px;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .logout-button {
        background-color: red;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 8px;
        margin-right: 10px;
    }

    .logout-button:hover {
        background-color: darkred;
    }

    .cancel-button {
        background-color: grey;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 8px;
    }

    .cancel-button:hover {
        background-color: darkgrey;
    }
</style>
